body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #e6f0ffc0;
}

header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.logo {
    height: 40px;
}

.icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

main {
    padding: 20px;
    flex: 1;
}

#search-container {
    display: flex;
    margin: 10px 15px;
    gap: 10px;
}

#search-container.hidden {
    display: none;
}

#search-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

#search-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#search-button:hover {
    background-color: #0056b3;
}

#attracties-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#attracties-list li {
    background-color: #ffffff;
    margin: 10px 15px;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    text-align: left;
    filter: drop-shadow(10px 10px 4px #0000000e);
}

.attractie-naam {
    font-size: 20px;
    font-weight: bold;
}

.wachttijd {
    font-size: 16px;
    margin-top: 5px;
}

footer {
    background-color: #007bff;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
